In [2]:
import psycopg2
import pandas as pd

# Establish a connection to the PostgreSQL database
conn = psycopg2.connect(
    dbname="real_estate_proj_3",
    user="YOUR USERNAME HERE",        # <--------------- READ THIS
    password="YOUR PASSWORD HERE",    # <--------------- READ THIS
    host="localhost",
    port="5432"
)

In [3]:
# Write your SQL query
household_query = "SELECT * FROM households;"
real_estate_query = "SELECT * FROM real_estate;"

# Execute the query and load the results into a DataFrame
household_df = pd.read_sql_query(household_query, conn)
real_estate_df = pd.read_sql_query(real_estate_query, conn)

C:\Users\Kyle_McDaniel_Python\AppData\Local\Temp\ipykernel_16300\3461694898.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  household_df = pd.read_sql_query(household_query, conn)
C:\Users\Kyle_McDaniel_Python\AppData\Local\Temp\ipykernel_16300\3461694898.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  real_estate_df = pd.read_sql_query(real_estate_query, conn)

In [4]:
household_df

,zip,geography,Geographic Area Name,households,Households Margin of Error,Households Household Income in the Past 12 Months,year
0,601,860Z200US00601,ZCTA5 00601,5397.0,264.0,16.1,2021
1,602,860Z200US00602,ZCTA5 00602,12858.0,448.0,20.0,2021
2,603,860Z200US00603,ZCTA5 00603,19295.0,555.0,44.8,2021
3,606,860Z200US00606,ZCTA5 00606,1968.0,171.0,15.6,2021
4,610,860Z200US00610,ZCTA5 00610,8934.0,372.0,17.0,2021
...,...,...,...,...,...,...,...
364993,99923,8600000US99923,ZCTA5 99923,62.0,39.0,0.0,2011
364994,99925,8600000US99925,ZCTA5 99925,345.0,52.0,15.9,2011
364995,99926,8600000US99926,ZCTA5 99926,577.0,54.0,15.3,2011
364996,99927,8600000US99927,ZCTA5 99927,43.0,24.0,48.8,2011
364997,99929,8600000US99929,ZCTA5 99929,996.0,80.0,27.3,2011

In [5]:
real_estate_df

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size
0,78477.0,for_sale,225000.0,3.0,1.0,3.93,1004268.0,Willington,Connecticut,6279.0,1572.0
1,41767.0,for_sale,579900.0,4.0,3.0,2.34,985290.0,Coventry,Connecticut,6238.0,3320.0
2,91020.0,for_sale,215000.0,2.0,1.0,0.91,1062364.0,East Windsor,Connecticut,6016.0,960.0
3,10585.0,for_sale,144900.0,2.0,1.0,0.36,765673.0,Vernon,Connecticut,6066.0,860.0
4,30125.0,for_sale,174900.0,3.0,2.0,0.19,1128958.0,Manchester,Connecticut,6040.0,1280.0
...,...,...,...,...,...,...,...,...,...,...,...
79603,53060.0,sold,385000.0,4.0,3.0,3.30,1470511.0,Swedesboro,New Jersey,8085.0,3335.0
79604,45045.0,sold,169999.0,2.0,2.0,0.08,1008570.0,Penns Grove,New Jersey,8069.0,1049.0
79605,30807.0,sold,199500.0,6.0,3.0,0.13,1645962.0,Penns Grove,New Jersey,8069.0,2483.0
79606,53060.0,sold,199000.0,3.0,2.0,0.52,1637543.0,Pennsville,New Jersey,8070.0,1844.0
79607,81634.0,sold,169900.0,2.0,2.0,0.16,114987.0,Pennsville,New Jersey,8070.0,1036.0